body {
    background: #f2d5d5;
    /*font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;*/
    font-family: "Century Gothic", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 20px;
}